{% extends 'main/base.html' %}

{% block content %}
<h3>
  {% if user.is_authenticated %}
  {{ user.division }}
  {{ user.get_full_name }} さんの記録
  {% endif %}
</h3>
<div class="row>
  <small class="text-muted">
    <ul>
      <li>二ヶ月以上前の記録は、管理者によって削除されることがあります。（たぶん）</li>
      <li>まとめて退出された記録には * が付いています。</li>
    </ul>
  </small>
</div>

<div class="row my-4">
  {% if is_paginated %}
  {% include "nav_paginator.html" with nav_url_name="main:log" %}
  <div class="w-100"></div>
  {% endif %}

  <div class="col-12 col-md-8 col-lg-6">
    <table class="table table-sm">
      <thead>
	<tr>
	  <td scope="col" class="px-2 text-nowrap">日時</td>
	  <td scope="col" class="px-2 text-nowrap">内奥</td>
	</tr>
      </thead>
      <tbody>
	{% for q in object_list %}
	<tr>
	  <td scope="row" class="px-2 text-nowrap">
	    {{q.create_at|date:"Y/n/j G:i:s"}}</td>
	  <td scope="row" class="px-2 text-nowrap">
	    {{q.message}}</td>
	</tr>
	{% empty %}
	<tr><td class="row">(まだありません)</td><td></td></tr>
	{% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
