<nav aria-label="Page navigation">
  <ul class="pagination">
    {% with obj=page_obj %}

    {% with tg=obj.has_previous|yesno:'a,span,span' %}
    <li class="page-item">
      <{{tg}} class="page-link"
	      href="{% url nav_url_name obj.previous_page_number %}">
	戻る&lt;</{{tg}}></li>
    {% endwith %}

    {% for i in page_nav_list %}
    <li class="page-item {% if obj.number == i %}active{% endif %}">
      {% if obj.number == i or paginator.ELLIPSIS == i %}
      <span class="page-link">{{ i }}</span>
      {% else %}
      <a class="page-link" href="{% url nav_url_name i %}">{{ i }}</a>
      {% endif %}
    </li>
    {% endfor %}

    {% with tg=obj.has_next|yesno:'a,span,span' %}
    <li class="page-item">
      <{{tg}} class="page-link"
	      href="{% url nav_url_name obj.next_page_number %}">
	&gt;次へ</{{tg}}></li>
    {% endwith %}

    {% endwith %}
  </ul>
</nav>
