{% extends 'main/base.html' %}

{% block content %}
{% comment %}
<div class="row p-3 border border-primary">
{% with with_workstatus=True %}
{% endwith %}
  abc
</div>
{% endcomment %}

<div class="row">
  <div class="col-12 col-md-8 col-lg-6">
    <ul>
      {% for m in messages %}
      <li><div {% if m.tags %}class="{{ m.tags }} m-2"{% endif %}>
	  {{m}}
	</div></li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-8 col-lg-6">
    <div class="lead col-12 text-center">
      {% now "Y年n月j日(D) G時i分" %}<br />
      ようこそ<br />
      {% if user.is_authenticated %}
      {{ user.division }} {{ user.get_full_name }} さん
      {% else %}
      オフィス出退記録へ
      {% endif %}
    </div>

    {% if user.is_authenticated %}
    <div class="m-2 d-flex justify-content-center">
	{% if user.action.isOut %}
	<a href="{% url 'main:in' %}" class="col-8 btn btn-primary">
	  出社にする</a>
	{% else %}
	<a href="{% url 'main:out' %}" class="col-8 btn btn-primary">
	  退出にする</a>
	{% endif %}
    </div>
    <div class="d-flex justify-content-end">
      <a href="{% url 'main:log' %}" class="m-2">履歴</a>
      <a href="{% url 'account:login' %}" class="m-2">ユーザ切り替え</a>
      <a href="{% url 'account:logout' %}" class="m-2">ログアウト</a>
    </div>
    {% else %}
    <div class="d-flex justify-content-center">
      <a href="{% url 'account:login' %}" class="col-8 btn btn-primary">
	ログイン</a>
    </div>
    {% endif %}
  </div>
</div>

<div class="row my-4">
  {% if False %}
  <nav class="navbar navbar-expand-xxl navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
	<form class="d-flex">
	  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
	      <input type="checkbox" class="form-check-input"
		     name="cb_n_0" id="id_cb_n_0" checked>
	      <label for="id_cb_n_0">000</label>
            </li>
            <li class="nav-item">
	      <input type="checkbox" class="form-check-input"
		     name="cb_n_1" id="id_cb_n_1" checked>
	      <label for="id_cb_n_1">111</label>
            </li>
            <li class="nav-item">
              <button class="btn btn-primary" type="submit">更新</button>
	    </li>
	  </ul>
	</form>
      </div>
    </div>
  </nav>
  {% endif %}

  <div class="col-12 col-md-8 col-lg-6">
    {% if is_paginated %}
    {% include "main/nav_paginator.html" with nav_url_name="main:top" %}
    <div class="w-100"></div>
    {% endif %}

    <form method="post">{% csrf_token %}
      <table class="table table-sm">
	<thead>
	  <tr>
	    <th scope="col" class="px-2 col-auto">
	      {% if user.is_authenticated %}
	      <input type="checkbox" name="listall" class="form-check-input"
		     id="id_cb_list_all">
	      {% endif %}
	    </th>
	    <td scope="col" class="px-2 col-8 text-nowrap">出社中の人たち</td>
	    <td scope="col" class="px-2 col-auto text-nowrap">出社日時</td>
	  </tr>
	</thead>
	<tbody>
	  {% for q in object_list %}
	  <tr>
	    <th scope="row" class="px-2">
	      <input type="checkbox" class="form-check-input"
		     name="cb_{{q.user.uid}}"
		     id="id_cb_list_{{forloop.counter0}}">
	    </th>
	    <td scope="row" class="px-2 text-nowrap">
	      <label for="id_cb_list_{{forloop.counter0}}">
		{{q.user.division}} {{q.user.get_full_name}}</label></td>
	    <td scope="row" class="px-2 text-nowrap">
	      {{q.update_at|date:"n/j G:i"}}</td>
	  </tr>
	  {% empty %}
	  <tr><th></th><td class="row">(いません)</td><td></td></tr>
	  {% endfor %}
	</tbody>
      </table>
      <div class="d-flex justify-content-end">
	{% if user.is_authenticated %}
	<button type="submit" class="btn btn-primary text-nowrap"
		id="id_form_submit" name="form_submit" value="out">
	  まとめて退出にする</button>
	{% endif %}
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block extrajs %}
<script>
  (function($){
      // console.log("Hello, world")
      const num_of_list = (function () {
	  const max = 10000
	  for (let i = 0; i < max; i ++) {
	      if (! $("#id_cb_list_" + i).length) {
		  return i
	      }
	  }
	  return max; })();
      // console.log (num_of_list);

      function setup_cb () {
	  let n = 0
	  for (let i = 0; i < num_of_list; i ++) {
	      if ($("#id_cb_list_" + i).prop('checked')) {
		  n ++
	      }
	  }
	  // console.log (n)
	  let w0 = $("#id_cb_list_all")
	  let w1 = $("#id_form_submit")
	  if (n == 0) {
	      w0.prop('checked', false)
	      w0.prop('indeterminate', false)
	      w1.prop('disabled', true)
	  } else if (n == num_of_list) {
	      w0.prop('checked', true)
	      w0.prop('indeterminate', false)
	      w1.prop('disabled', false)
	  } else {
	      w0.prop('checked', false)
	      w0.prop('indeterminate', true)
	      w1.prop('disabled', false)
	  }
      }

      setup_cb ()
      for (let i = 0; i < num_of_list; i ++) {
	  $("#id_cb_list_" + i).change (setup_cb)
      }
      $("#id_cb_list_all").change (function(e){
	  const t = $(this).prop('checked')
	  for (let i = 0; i < num_of_list; i ++) {
	      $("#id_cb_list_" + i).prop('checked', t)
	  }
	  $("#id_form_submit").prop('disabled', !t)
      });
  })(jQuery);
</script>
{% endblock %}
